/* seleccion por elemento*/
h1 {
     background-color: yellow;
    width: 600px;
    border: 1px solid red;
    height: 50px;
    margin: 50px;
    padding: 50px;
}

.pais:hover {
font-size: 40px;
color: blue;
}

.departamentos:active{
    font-size: 20px;
    color: red;
}

.ciudades:focus{
    font-size: 50px;
    color: green;
}

/*ejemplo de seudoclase*/
.padre .hijo:first-child{
    font-size: 20px;
    color: violet;
}

/* ejemplo de subelemento*/

p::first-letter{
    text-decoration: underline;
}
p::first-letter{
    font-size: 1.5em;
}
li{
    list-style: none;
    font-size: none;
}
li::before{
    content: '+';
    background: black;
    color: white;
    margin-right: 1em;
    padding: 0px 0.25rem;
}
li::after{
    content: '!!!';
    font-weight: bold;
    font-size: 1.25em;
    margin-left: 0.5em;
}
::selection{
    background: blue;
    color: white;
}